/** BUTTONS **/
.btn {
  border-radius: 0;
  font-weight: 900;
  text-transform: uppercase;
  &.btn-primary {
    background: $lagoon;
    border-color: $lagoon;
    &:hover, &:active {
      background: darken($lagoon, 10%);
      border-color: darken($lagoon, 10%);
      border-bottom-color: $lagoon;
    }
  }
}

/** FORM ELEMENTS **/
.form-control {
  border-radius: 0;
}
.required {
  color: $scallop;
}
