#disclaimer-banner {
  background: $imonitor-warning;
  text-transform: uppercase;

  h3 { font-size: 12px; padding: 5px; }

}
body.imonitor {
  font-weight: 300;
}
aside#floater{
  max-width: 15%;
  position: fixed;
  margin-top: 35vh;
  margin-right: 2%;
  right: 0;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

fieldset {
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: none;
  legend {
    padding: 0px;
    color: $imonitor-grey-text;
    font-family: $IBM;
    position: relative;
    span {
      background-color: white;
      padding-right: 10px;
    }
    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50%;
      border-top: 1px solid $imonitor-grey-text;
      z-index: -1; }
  }
}


label, .form-label {
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
}

.help {
  display: block;
  color: $imonitor-grey-text;
  line-height: 130%;
  font-size: 0.7em;
  margin-top: 3px;
  margin-bottom: 3px;
}

#imonitor-report-nav a {
  font-weight: 800;
  text-transform: uppercase;
}
.form-control, .form-select, .btn { border-radius: 0px; }
@for $i from 0 to 101 {
  .score-value-#{$i} {
    color: mix($score-color-100, $score-color-0, $i);
    text-align: center;
    font-weight: bold;
  }
}
.score-value-na {
  text-align: center;
  font-weight: bold;
  color: #CCC;
}
td.score-value-undefined {
  color: #777777;
  text-align: center;
  font-weight: bold;
}


#imonitor-contract-sites-map {
  min-height: 35vh;
  width: 100%;
}

.monitutor {
  background-color: $imonitor-info-box;
  border: 2px solid $imonitor-info-box-dark;
  padding: 2em;
}


body.imonitor {

  input, select, textarea {

    &.form-control:user-invalid {
      border: 1px solid $imonitor-warning !important;
    }
    &.form-control:user-valid {
      border: 1px solid $imonitor-success !important;
    }

  }
}

.works-box {
  border: 1px solid $imonitor-works;
  background: fade-out($imonitor-works, 0.8);
  padding: 1.8rem 1rem;
  position: relative;
  &::before {
    content: "WORKS";
    padding: 0.5rem;
    background-color: $imonitor-works;
    color: white;
    margin: 0;
    top: 0; left: 0;
    font-size: 0.5em;
    position: absolute;
    font-weight: 600;
  }
}