.lite-report#oc_api_content {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #CCC;
  padding: 20px;
  h2 { font-size: 16px; }
  p { font-size: 12px; text-transform: lowercase; }
  h3{ font-size: 14px; }
  ul li { font-size: 12px; }
}

.checker {
  margin-bottom: 4px;
  .checker-flag {
    width: 20px; height: 20px; border-radius: 50%; margin-right: 12px; float: left; outline: 1px solid $lagoon;
    &.checker-flag-active {
      border: 2px solid white;
      background-color: $lagoon;
      & ~ .checker-label { color: $blackcoral; }
    }
  }
  .checker-label { color: #ccc; font-size: 14px;  }
}
.connection-details {
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid $lagoon;
  .connection-type {
    font-size: 12px; font-weight: bold; text-transform: uppercase; color: $blackcoral;
  }
  .subject { font-size: 14px; color: $dark; }
}