#report-page {
  h1 small { font-size: 14px; color: $mid; }
  .report-main-image {
    max-width: 320px;
    height: auto;
    display: inline-block;
    float: right;
    margin-left: 20px;
    position: relative;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }
  .report-ev-hilite {
    background: $scallop;
    display: block;
    margin: 4px 0px;
    padding: 4px 6px;
    font-weight: bold;
  }
  .report-body {
    margin-top: 30px;
    h1 {
      font-size: 1.8em;
      padding-bottom: 20px;
      color: $lagoon;
      display: flex;
      align-items: flex-start;
      text-align: left;

      &:after {
        content: '';
        flex-grow: 1;
        height: 1px;
        background: $lagoon;
        min-width: 20px;
        margin: auto;
      }

      &:after {
        margin-left: 20px;
      }
    }
    h2 { font-size: 16px; }
  }
  .report-section {
    margin-bottom: 30px;
    padding-bottom: 30px;
    //border-bottom: 1px solid $lagoon;
  }
  .report-solutions {
    padding: 15px;
    background: rgba($lagoon, 0.5);
  }


  aside, aside ul li {
    font-size: 14px;
    h4 {
      margin-top: 15px;
      background: $lagoon;
      text-transform: uppercase;
      color: $seafoam;
      font-weight: 900;
      padding: 4px 0px;
      text-align: center;
      font-size: 12px;
    }
    h5 {
      margin-top: 15px;
      text-transform: uppercase;
      color: $dark;
      font-weight: 900;
      padding: 4px 0px;
      text-align: center;
      font-size: 12px;
    }
    a.report-subject {
      display: block;
      text-align: center;
    }
    ul#report-sources li a {
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
    ul li { font-weight: 400; }
    .report-side-oc {
    //  border: 1px solid $lite;
    }
    .report-side-title {
      text-align: right;
      background: $lite;
      color: $seafoam;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      display: block;
      padding: 6px 6px;
    }
    .report-side-value {
      display: block;
      padding: 4px 6px;
    }
  }
}
.report-in-short.report-in-short-title{
  display: block; padding: 4px;

  color: $mid; font-weight: 900; font-size: 12px; text-transform: uppercase; text-align: center;
}
.giudizio-sintetico{
  display: block;
  padding: 4px;
  color: white;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;

  &.appena-iniziato         { background: $gs_1; }
  &.in-corso-e-procede-bene { background: $gs_2; }
  &.procede-con-difficolta  { background: $gs_3; }
  &.bloccato                { background: $gs_4; }
  &.concluso-e-utile        { background: $gs_5; }
  &.concluso-e-inefficace   { background: $gs_6; }

}

.report-side-detail {
  display: block;
  clear: both;
  margin: 5px 0px;
}
/** Report List Page **/
.report-list-entry {
  border: 1px solid transparent;
  border-bottom: 1px solid fade-out($snapper, 0.5);
  background: transparent;
  padding: 15px;
  margin: 15px 0px 25px;
  -webkit-transition : all 500ms ease-out;
  -moz-transition : all 500ms ease-out;
  -o-transition : all 500ms ease-out;
  transition : all 500ms ease-out;
  &:hover {
    border: 1px solid $snapper;
    background: fade-out($lagoon, 0.97);
  }
  h2 { text-transform: uppercase;}
}

.img-holder {
  display: block;
  height: 220px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &.img-placeholder {
    background-color: #ededed;
    color: white;
    padding: 40% 0;
    text-align: center;
  }

}
#subjects-table {
  width: 100%;
  #connection-0 {
    display: none;
  }
}
