h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2em;
  &:first-of-type {
    margin-top: 1em;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 900;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

h4 {
  font-size: 1.2em;
  font-weight: 300;
}

h5 { }
h6 { }

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 160%;
}

a {
  color: $snapper;
  &:hover {
    color: $snapper;
  }
}

.hiliter {
  color: $scallop;
  font-weight: bold;
  font-style: italic; 
}
