h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2em;
  font-family: $IBM;
  //font-family: $fontStack;
  &:first-of-type {
    margin-top: 1em;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 900;
  font-family: $IBM;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
  font-family: $IBM;
}

h4 {
  font-size: 1.2em;
  font-weight: 300;
  font-family: $IBM;
}

h5 { }
h6 { }

h2, h3, h4, h5 {
  a { color: $lagoon;
    &:hover {
      color: lighten($lagoon, 15%);
      text-decoration: underline;
    }
  }
}

p, li {
  font-size: 1em;
  font-weight: 300;
  line-height: 160%;
}

a {
  color: $snapper;
  &:hover {
    color: $snapper;
  }
}

.hiliter {
  color: $scallop;
  font-weight: bold;
  font-style: italic;
}

table td { font-size: 0.75rem; }
