/** Main Color Palette **/

$blackcoral:  rgba(1, 22, 39, 1);
$seafoam:     rgba(253, 255, 252, 1);
$lagoon:      rgba(46, 196, 182, 1);
$snapper:     rgba(231, 29, 54, 1);
$scallop:     rgba(255, 159, 28, 1);


$fontStack: 'Roboto', Helvetica, Sans-serif;

/** UI colors **/
$draft:     #E2E2E2;
$pending:   #FFED00;
$review:    #FF9C2A;
$published: #66CC00;
