/** Main Color Palette **/
$blackcoral:  rgba(1, 22, 39, 1);
$seafoam:     rgba(253, 255, 252, 1);
$lagoon:      rgba(64, 149, 136, 1);
$snapper:     rgba(231, 29, 54, 1);
$scallop:     rgba(255, 159, 28, 1);

/** Font Stack **/
$fontStack: 'Roboto', Helvetica, Sans-serif;

/** UI colors **/
$draft:     #E2E2E2;
$pending:   #FFED00;
$review:    #FF9C2A;
$published: #66CC00;

/** Neutral Stack **/
$lite: #ACACAC;
$mid:  #898989;
$dark: #555555;

/** Likert Scales **/
$gs_1: #6bc2e6;
$gs_2: #6be6ca;
$gs_3: #f3788e;
$gs_4: #d52d4b;
$gs_5: #68c59a;
$gs_6: #9a1946;
