/** Main Color Palette **/
/*
$blackcoral:    rgba( 85,  91, 110, 1);
$pewterblue:    rgba(137, 176, 174, 1);
$columbiablue:  rgba(190, 227, 219, 1);
$snow:          rgba(250, 249, 249, 1);
$peachpuff:     rgba(255, 214, 186, 1);
*/

$blackcoral:  rgba(1, 22, 39, 1);
$seafoam:     rgba(253, 255, 252, 1);
$lagoon:      rgba(46, 196, 182, 1);
$snapper:     rgba(231, 29, 54, 1);
$scallop:     rgba(255, 159, 28, 1);


$fontStack: 'Roboto', Helvetica, Sans-serif;
