@import 'variables';
@import 'typography';
@import 'components';
@import 'header';
@import 'user';
@import 'maps';
@import 'guide';
@import 'report';

@import 'footer';

body {
  background: $seafoam;
  color: $blackcoral;
  font-family: $fontStack;
  height: 100% !important;
  min-height: 100vh;
  &.user.login {
    background: url('/public/images/login-bg-image.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

  }
}
.full-wrap { min-height: 100vh; }

main { padding-bottom: 40px; }

/** BOOTSTRAP OVERRIDES **/
.nav-tabs .nav-link.active {
  background-color: $seafoam;
}
